* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 6%;
  font-size: 12px;
}

ul {
  list-style-type: none;
}

.container {
  border: 1px solid #000;
  width: 85%;
  margin: 0 auto;
  height: 500px;
}

/* header */
.container header {
  background-color: #2d227d;
  padding: 15px 30px;
  color: #fff;
  text-align: center;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header form {
  display: flex;
  height: 30px;
}

header form input[type="text"] {
  flex-grow: 3;
  font-size: 1rem;
  color: #bab4b1;
  border: none;
  padding: 10px;
}

header form input[type="submit"] {
  flex-grow: 1;
  background-color: #d9d8da;
  color: #ada9b2;
  border: none;
  cursor: pointer;
}

header form input[type="submit"]:hover {
  transition: 0.6s;
  background-color: #c1c1be;
}

/* main */
main{
  height: 80%;

}

main ul{
  height: 100%;
  overflow-y: auto;
}

main li {
  cursor: pointer;
  display: flex;
  align-items: center;
}

main li span:nth-child(1){
    visibility: hidden;
    color: #fff;
}

main li span:nth-child(1),
main li span:nth-child(3){
padding: 10px;
flex-basis: 30px;
display: flex;
justify-content: center;
}

main li span:nth-child(3):hover{
  background-color: red;
  transition: 0.6s;
}

main li span:nth-child(2){
  flex: 2;
  margin: 0 10px;
}

main li .fa-times {
  color: #b2afaa;
}

main li:nth-child(2n) {
  background-color: #f9f7f9;
}

main li:hover {
  transition: 0.6s;
  background-color: #e6e6e5;

}


/* JS Styles */ 
.clicked{
  background-color: #888786 !important;
  color: #fff !important;
}

.visible{
  visibility: visible !important;
}

.lineThrough {
  text-decoration: line-through;

}